infra/step-functions/statemachine/tool-executor.asl.json
{
  "Comment": "Executes one MCP tool call (name + arguments) as a durable, retried, observable unit. One state machine execution == one tool call from the Next.js agent loop (lib/llm/tool-catalog.ts) — not the whole agent run.",
  "StartAt": "InvokeMcpTool",
  "States": {
    "InvokeMcpTool": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${McpToolExecutorFunctionArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "ResultPath": "$.result",
      "TimeoutSeconds": 120,
      "Retry": [
        {
          "Comment": "Transient: network blips reaching the MCP endpoint, or Lambda service-side hiccups. Not real tool failures.",
          "ErrorEquals": [
            "TransientToolError",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.Timeout"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "Comment": "Real tool failure (bad args, MCP-side error) or retries exhausted. Surfaced as a FAILED execution — Next.js decides whether to retry (with a RAG-informed lookup) by starting a new execution.",
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ToolFailed"
        }
      ],
      "Next": "ToolSucceeded"
    },
    "ToolSucceeded": {
      "Type": "Pass",
      "OutputPath": "$.result.output",
      "End": true
    },
    "ToolFailed": {
      "Type": "Fail",
      "ErrorPath": "$.error.Error",
      "CausePath": "$.error.Cause"
    }
  }
}
